body {
    background-color: rgba(3, 3, 3, 0.356);
    background-image: url("C:\Users\Alumne\Documents\provahtml\imatges");
    background-repeat: no-repeat;
    background-size: cover;}



h1   {
    color: rgba(red, green, blue, alpha);
}

p    {
    color: red;
}